<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ویرایش معدن</title>
    <link rel="icon" type="image/png" href="images/logo.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/alignment.css}" typeBar="text/css">
    <link rel="stylesheet" th:href="@{/css/ViewData.css}" typeBar="text/css">

    <!--for animate input-->
    <link rel="stylesheet" th:href="@{/css/main.css}" typeBar="text/css">
    <link rel="stylesheet" th:href="@{/css/upform.css}" typeBar="text/css">
    <link rel="stylesheet" th:href="@{/css/uputil.css}" typeBar="text/css">
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/dropdown_menu.css}" typeBar="text/css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">

    <script type="text/javascript" th:src="@{/js/validate_Mine.js}"></script>

</head>
<body onload="prepareWebPage()">

<!--Header-->
<nav dir="rtl" class="navbar navbar-expand-lg navbar-light bg-light background-image">
    <a href="/home"><img src="/images/logo.png"></a>
    <div class="dropdown font_bnazanin">
        <a class="dropbtn" style="font-size: larger">سرویس بارنامه</a>
        <div class="dropdown-content">
            <a href="/addwaybil">ثبت بارنامه</a>
            <a href="/home">ویرایش بارنامه</a>
            <a href="/getwaybils">مشاهده بارنامه ها</a>
        </div>
    </div>

    <div class="dropdown font_bnazanin">
        <a class="dropbtn" style="font-size: larger">سرویس راننده</a>
        <div class="dropdown-content">
            <a href="/get-driver">ویرایش راننده</a>
            <a href="/drivers">مشاهده رانندگان</a>
        </div>
    </div>

    <div class="dropdown font_bnazanin">
        <a class="dropbtn" style="font-size: larger">سرویس معادن</a>
        <div class="dropdown-content">
            <a href="/get-mine">ویرایش معدن</a>
            <a href="/mines">مشاهده معادن</a>
        </div>
    </div>




</nav>


<div class="container border rounded" style="width: 80%;" >
    <div style="background-color: #b19f81;color: #FFFFFF;
        height: 80px;width: 100%;text-align: center;" >
        <label class="font_text" ><h2>ویرایش معدن</h2></label>
    </div>
    <form class="center font_text container" style="padding: 10px;" name="form"
          action="#" th:action="@{/mine-update}" th:object="${mine}" method="post" dir="rtl">

        <div class="row" style="float: contour">
            <div class="col-sm-5" dir="rtl">
                <div class="wrap-input100 alignment-right input-group" >
                    <input class="input100" type="text"  th:field="*{namMine}" id="name">
                    <span class="focus-input100" data-placeholder="نام معدن"></span>
                </div>
            </div>
            <div class="col-sm-5" >
                <div class="wrap-input100 alignment-right input-group" >
                    <input class="input100" type="number"  th:field="*{codNtnMine}" id="national_code" onblur="validate_NTN_Code_Mine()">
                    <span class="focus-input100" data-placeholder="شناسه ملی معدن"></span>
                </div>
                <small id="hint_NTN_Mine" class="form-text text-danger"
                       style="display:block;font-size: medium;text-align: right;margin-right: 5px" dir="rtl">

                </small>
            </div>
        </div>
        <div class="row" style="float: contour;padding-top: 10px">
            <div class="col-sm-5">
                <div class="wrap-input100 alignment-right input-group" >
                    <input class="input100" type="number"  th:field="*{codPostMine}" id="post_code" onblur="validate_Code_Post()">
                    <span class="focus-input100" data-placeholder="کد پستی معدن"></span>
                </div>
                <small id="hint_Code_Post" class="form-text text-danger"
                       style="display:block;font-size: medium;text-align: right;margin-right: 5px" dir="rtl">

                </small>
            </div>
            <div class="col-sm-5">
                <div class="wrap-input100 alignment-right input-group" >
                    <input class="input100" type="number"  th:field="*{numTelMine}" id="tel_mine" onblur="validate_Tel_Mine()">
                    <span class="focus-input100" data-placeholder="تلفن معدن"></span>
                </div>
                <small id="hint_tel_Mine" class="form-text text-danger"
                       style="display:block;font-size: medium;text-align: right;margin-right: 5px" dir="rtl">

                </small>
            </div>
        </div>
        <div class="row" style="float: contour;padding-top: 10px">
            <div class="col-sm-10">
                <div class="wrap-input100 alignment-right input-group" >
                    <input class="input100" type="text"  th:field="*{addr}">
                    <span class="focus-input100" data-placeholder="نشانی معدن"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <input type="submit" class="btn btn-primary btn-lg btn-block"
                       value="ویرایش معدن">
            </div>
            <div class="col-sm-3">
                <a href="/get-mine" class="btn btn-danger btn-lg btn-block">
                    لغو و بازگشت به صفحه اصلی</a>
            </div>
        </div>
    </form>
</div>

<script>
    function prepareWebPage() {
        debugger;
        var specificElement = document.getElementsByClassName("input100");
        for (var i = 0; i < specificElement.length; i++) {
            var value = specificElement[i].value;
            if (value.trim() != "") {
                // specificElement[i].addClass('has-val');
                specificElement[i].classList.add("has-val")
            } else {
                // specificElement[i].removeClass('has-val');
                specificElement[i].classList.remove("has-val")
            }
        }
    }
</script>

<script>
    var message = "[[${message}]]";
    if (message != "")
        alert(message);
</script>
</body>
</html>