<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" type="image/png" href="images/logo.png"/>
    <meta charset="UTF-8">
    <title>معادن</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/alignment.css}" typeBar="text/css">
    <link rel="stylesheet" th:href="@{/css/dropdown_menu.css}" typeBar="text/css">
    <link rel="stylesheet" th:href="@{/css/ViewData.css}" typeBar="text/css">
</head>
<body onload="getValueOfNumber()">

<!--Header-->
<nav dir="rtl" class="navbar navbar-expand-lg navbar-light bg-light background-image">
    <a href="/home"><img src="/images/logo.png"></a>
    <div class="dropdown font_bnazanin">
        <a class="dropbtn" style="font-size: larger">سرویس بارنامه</a>
        <div class="dropdown-content">
            <a href="/addwaybil">ثبت بارنامه</a>
            <a href="/home">ویرایش بارنامه</a>
            <a href="/getwaybils">مشاهده بارنامه ها</a>
        </div>
    </div>

    <div class="dropdown font_bnazanin">
        <a class="dropbtn" style="font-size: larger">سرویس راننده</a>
        <div class="dropdown-content">
            <a href="/get-driver">ویرایش راننده</a>
            <a href="/drivers">مشاهده رانندگان</a>
        </div>
    </div>

    <div class="dropdown font_bnazanin">
        <a class="dropbtn" style="font-size: larger">سرویس معادن</a>
        <div class="dropdown-content">
            <a href="/get-mine">ویرایش معدن</a>
            <a href="/mines">مشاهده معادن</a>
        </div>
    </div>




</nav>


<div class="table-bordered">
    <table dir="rtl" class="table">
        <div dir="rtl" class="bg-success" style="text-align: center">
            <label class="font_text" >فیلتر اطلاعات</label>
            <span><img src="/images/filter2.png"></span>
        </div>
        <tr>
            <td>
                <input class="input-group font_bnazanin font_size_medium" style="padding-right: 5px;margin-right: 20px"
                       id="nameMine" placeholder="نام معدن :"
                       onkeyup="searchWayBil()" >
            </td>

            <td>
                <input class="input-group font_bnazanin font_size_medium" style="padding-right: 5px"
                       id="ntnCodeMine" placeholder="شناسه ملی :" type="number"
                       onkeyup="searchWayBil()">
            </td>


            <td>
                <a class="text-danger font_text" onclick="delete_Filters()">پاک کردن فیلترها</a>
            </td>
        </tr>
    </table>
</div>
<div>
    <table class="table table-bordered table-striped" dir="rtl"  id="table">
        <caption class="font_text" style="background-color:#b4670c ;color: #FFFFFF;text-align: center">مشخصات معادن</caption>
        <thead class="thead-light font_text"  dir="rtl" >
        <tr>
            <th scope="col">#</th>
            <th scope="col">اسم</th>
            <th scope="col">شناسه ملی</th>
            <th scope="col">کد پستی</th>
            <th scope="col">شماره تلفن</th>
            <th scope="col">آدرس</th>
        </tr>
        </thead>
        <tr th:each="mine:${mines}">
            <td >
                <label onload="getValueOfNumber()" class="table-row"/>
            </td>
            <td th:text="${mine.namMine}"/>
            <td th:text="${mine.codNtnMine}"/>
            <td th:text="${mine.codPostMine}"/>
            <td th:text="${mine.numTelMine}"/>
            <td th:text="${mine.addr}"/>
        </tr>
    </table>
</div>
<script>
    var number = 1;
    function getValueOfNumber() {
        var labelsArray = document.getElementsByClassName("table-row");
        for (var i = 0; i < labelsArray.length; i++, number++) {
            labelsArray[i].innerHTML = number;
        }
    }

    // check condition and if one field fill search in
    function searchWayBil() {
        // get values
        var nameMine = document.getElementById("nameMine").value;
        var ntnCode = document.getElementById("ntnCodeMine").value;
        // if two field fill by value go to searchWayBilTwoElement
        if (nameMine != "" && ntnCode != ""){
            searchWayBilTwoElement();
            return;
        }

        // this condition happen when one field fill by value
        var textSearch;
        var idxSearch;
        var textTable;
        var rowTable
        if (nameMine != "") {
            textSearch = nameMine;
            idxSearch = 1;
        }
        else if (ntnCode != "") {
            textSearch = ntnCode;
            idxSearch = 2;
        }
        // show all row of table if any field not fill
        else{
            var table = document.getElementById("table");
            var tr = table.getElementsByTagName("tr");
            for (var i = 1 ; i<tr.length ; i++){
                tr[i].style.display="";
            }
        }

        var table = document.getElementById("table");
        var tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            rowTable = tr[i].getElementsByTagName("td")[idxSearch];
            if (rowTable) {
                textTable = rowTable.textContent || rowTable.innerText;
                if (textTable == "")
                    textTable = "-1";
                if (textTable.indexOf(textSearch) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function searchWayBilTwoElement() {
        var name = document.getElementById("nameMine").value;
        var ntnCode = document.getElementById("ntnCodeMine").value;
        var table = document.getElementById("table");
        var tr = table.getElementsByTagName("tr");
        var td_Name;
        var td_NTN_Code;
        var text;
        for (i = 0; i < tr.length; i++) {
            td_Name = tr[i].getElementsByTagName("td")[1];
            td_NTN_Code = tr[i].getElementsByTagName("td")[2];
            if (td_Name) {
                text_Name = td_Name.textContent || td_Name.innerText;
                text_NTN_Code = td_NTN_Code.textContent || td_NTN_Code.innerText;
                if (text_Name.indexOf(name) > -1 &&
                    text_NTN_Code.indexOf(ntnCode)> -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }

    }

    // clear all filters
    function delete_Filters() {
        document.getElementById("nameMine").value = "";
        document.getElementById("ntnCodeMine").value= "";
        searchWayBil();
    }
</script>
</body>
</html>