<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>ایجاد بارنامه</title>
    <link rel="icon" type="image/png" href="images/logo.png"/>
    <meta charset="utf-8">
    <meta categoryName="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link rel="stylesheet" th:href="@{/css/alignment.css}" typeBar="text/css">
    <link rel="stylesheet" th:href="@{/css/table.css}" typeBar="text/css">
    <link rel="stylesheet" href="../static/css/table.css" typeBar="text/css">

    <!--for animate input-->
    <link rel="stylesheet" th:href="@{/css/main.css}" typeBar="text/css">
    <link rel="stylesheet" th:href="@{/css/upform.css}" typeBar="text/css">
    <link rel="stylesheet" th:href="@{/css/uputil.css}" typeBar="text/css">
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <script type="text/javascript" th:src="@{/js/upjquery.js}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/jquery.md.bootstrap.datetimepicker.style.css}" typeBar="text/css">
    <script type="application/javascript" th:src="@{/js/jquery.md.bootstrap.datetimepicker.js}"></script>
    <script type="application/javascript" th:src="@{/js/validate.js}"></script>

</head>
<body onload="prepareWebPage()">

<script>
    var message = "[[${message}]]";
    if (message != "")
        alert(message);
</script>
<nav dir="rtl" class="navbar navbar-expand-lg navbar-light bg-light background-image">

    <a href="/home"><img src="/images/logo.png"></a>
</nav>

<div>

</div>
<form dir="rtl" class="center font_text container" style="padding: 10px;" name="form"
      action="#" th:action="@{/addwaybil}" th:object="${waybil}" method="post" onsubmit="return validate();">
    <table dir="rtl " class="thead-light was-validated font_text">
        <div class="container" dir="rtl">
            <tr style="background-color: #2f9eb5">
                <td>
                    <label class="text-white" for="date_created" style="margin-right: 20px;margin-top: 5px;float: right">تاریخ ثبت
                        :</label>
                    <label id="date_created" th:field="*{sCreateDate}" class="form-control"
                           style="text-align: center;width:120px;margin-top: 5px;margin-right: 140px">
                        98/06/10
                    </label>
                </td>
                <td><b><h2 class="font_text text-white">ایجاد بارنامه</h2></b></td>
                <td></td>
                <td>
                    <!--<label for="status2" style="margin-top: 5px;float: right;margin-left: 180px">وضعیت بارنامه :</label>-->
                    <label id="status2" th:field="*{status}" th:value="${'02'}" class="form-control"
                           style="text-align: center;margin-top: 5px;width: fit-content;margin-right: 150px">در حال تکمیل</label>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="input-group" style="margin-top: 10px">
                        <input typeBar="text" name="sendDate" id="start_date" th:field="*{sStartDate}"
                               class="form-control" placeholder="تاریخ ارسال بارنامه" categoryName="start_date"
                               aria-label="date1" aria-describedby="date1" onblur="check_value_date()"
                               required="required">
                        <span class="input-group-addon cursor-pointer" id="date1"><img src="/images/calender.png"
                                                                                       style="margin-top: -5px"></span>
                    </div>
                    <small id="hint_start_date" class="form-text text-danger"
                           style="display:block;font-size: medium;text-align: right" dir="rtl">

                    </small>


                </td>
                <td>
                    <div class="input-group" style="margin-right: 150px;margin-top: 10px">
                        <input typeBar="text" name="receivedDate" id="finish_date" th:field="*{sFinishDate}"
                               class="form-control " placeholder="تاریخ دریافت بارنامه " categoryName="finish_date"
                               aria-label="date2" aria-describedby="date2" required="required"
                               onblur="check_value_date()">
                        <span class="input-group-addon cursor-pointer" id="date2"><img src="/images/calender.png"
                                                                                       style="margin-top: -5px"></span>
                    </div>
                    <small id="hint_received_date" class="form-text text-danger"
                           style="display:block;font-size: medium;text-align: right;margin-right: 150px" dir="rtl">

                    </small>
                </td>

                <td>

                </td>

            </tr>
            <tr>

                <td>
                    <select id="typeBar" th:field="*{typeBar}" class="form-control">
                        <option value="">نوع بار</option>
                        <option th:each="ValueLookup : ${list_lookup}"
                                th:value="${ValueLookup.lookupIdentify.valueLookUP}"
                                th:text="${ValueLookup.desFarsi}">
                        </option>
                    </select>
                </td>
                <td>
                    <!--<input type="number" name="weight" th:field="*{weight}" class="form-control" id="weight2" placeholder="وزن بار به تن وارد کنید" max="10000000" >-->
                    <div class="wrap-input100 alignment-right input-group" dir="rtl"
                         style="margin-top: 20px;margin-right: 60px">
                        <input class="input100" type="number" name="weight" th:field="*{weight}"
                               required="required" categoryName="start_date" max="10000000">
                        <span class="focus-input100" data-placeholder="وزن بار"></span>
                    </div>
                </td>
                <td>
                    <div class="wrap-input100 alignment-right input-group" dir="rtl" style="margin-right: 100px">
                        <input class="input100" type="number" name="weight" th:field="*{costTransfer}"
                               required="required" categoryName="start_date" max="10000000">
                        <span class="focus-input100" data-placeholder="هزینه حمل"></span>
                    </div>
                </td>

                <td>
                    <div class="wrap-input100 alignment-right input-group" dir="rtl"
                         style="margin-right: 150px;width: 140px">
                        <input class="input100" type="number" name="weight" th:field="*{costInsurance}"
                               categoryName="start_date" max="10000000">
                        <span class="focus-input100" data-placeholder="هزینه بیمه"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="wrap-input100 alignment-right input-group" dir="rtl">
                        <input class="input100" type="text" name="weight" th:field="*{driverName}" id="name_Driver"
                               maxlength="25" required="required">
                        <span class="focus-input100" data-placeholder="نام راننده"></span>
                    </div>
                </td>

                <td>
                    <div class="wrap-input100 alignment-right input-group" dir="rtl" style="margin-right: 60px">
                        <input class="input100" type="number" name="weight" th:field="*{driverNationalCode}"
                               id="national_Code_Driver"
                               maxlength="10" required="required" minlength="10" onblur="return check_National_Code()">
                        <span class="focus-input100" data-placeholder="کد ملی راننده"></span>
                    </div>
                    <small id="hint_NTN_Driver" class="form-text text-danger"
                           style="display:block;font-size: medium;text-align: right;margin-right: 60px" dir="rtl">

                    </small>
                </td>

                <td>
                    <div class="wrap-input100 alignment-right input-group" dir="rtl" style="margin-right: 100px">
                        <input class="input100" type="number" name="weight" th:field="*{driverPhone}" id="phone_Driver"
                               maxlength="12" minlength="10" onblur="check_tel()">
                        <span class="focus-input100" data-placeholder="تلفن راننده"></span>
                    </div>
                    <small id="hint_tel_Driver" class="form-text text-danger"
                           style="display:block;font-size: medium;text-align: right;margin-right: 100px" dir="rtl">

                    </small>
                </td>

                <td>
                    <div class="wrap-input100 alignment-right input-group" dir="rtl"
                         style="margin-right: 150px;width: 140px">
                        <input class="input100" type="number" name="weight" th:field="*{driverLicsDriving}"
                               id="number_Lics_Driver"
                               maxlength="12" minlength="10">
                        <span class="focus-input100" data-placeholder="شماره گواهینامه راننده "></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="wrap-input100 alignment-right input-group" dir="rtl" style="margin-top: 16px">
                        <input class="input100" type="text" name="weight" th:field="*{senderName}" id="name_sender"
                               maxlength="25" required="required">
                        <span class="focus-input100" data-placeholder="نام فرستنده"></span>
                    </div>
                </td>

                <td>
                    <div class="wrap-input100 alignment-right input-group" dir="rtl"
                         style="margin-right: 60px;margin-top: 16px">
                        <input class="input100" type="number" name="weight" th:field="*{senderIdentifyCode}"
                               id="national_Identify_Sender"
                               maxlength="20" required="required" minlength="10" onblur="return check_Cod_NTN_Sender()">
                        <span class="focus-input100" data-placeholder="شناسه ملی فرستنده"></span>
                    </div>
                    <small id="hint_NTN_Sender" class="form-text text-danger"
                           style="display:block;font-size: medium;text-align: right;margin-right: 60px;margin-top: -25px" dir="rtl">

                    </small>
                </td>

                <td>
                    <div class="wrap-input100 alignment-right input-group" dir="rtl"
                         style="margin-right: 100px;margin-top: 16px">
                        <input class="input100 " type="number" name="weight" th:field="*{senderPhone}" id="phone_Sender"
                               maxlength="12" minlength="10" onblur="check_tel_Sender()">
                        <span class="focus-input100" data-placeholder="تلفن فرستنده"></span>
                    </div>
                    <small id="hint_tel_Sender" class="form-text text-danger"
                           style="display:block;font-size: medium;text-align: right;margin-right: 100px;margin-top: -25px" dir="rtl">

                    </small>
                </td>

                <td>
                    <div class="wrap-input100 alignment-right input-group" dir="rtl"
                         style="margin-right: 150px;width: 140px;margin-top: 16px">
                        <input class="input100 is-valid text-success" type="number" name="weight"
                               th:field="*{senderPostCode}" id="post_Code_Sender"
                               maxlength="20" onblur="check_Sender_Cod_post()">
                        <span class="focus-input100 text-success" data-placeholder="کد پستی فرستنده "></span>
                    </div>
                    <small id="hint_Code_Post_Sender" class="form-text text-danger"
                           style="display:block;font-size: medium;text-align: right;margin-right: 140px;margin-top: -25px" dir="rtl">

                    </small>
                </td>
            </tr>

            <tr>

                <td>
                    <div class="wrap-input100 alignment-right input-group" dir="rtl">
                        <input class="input100" type="text" name="weight" th:field="*{receiverName}" id="name_Reciever"
                               maxlength="25" required="required">
                        <span class="focus-input100" data-placeholder="نام گیرنده"></span>
                    </div>
                </td>
                <td>
                    <div class="wrap-input100 alignment-right input-group" dir="rtl" style="margin-right: 60px">
                        <input class="input100" type="number" name="weight" th:field="*{receiverIdentifyCode}"
                               id="national_Identify_Receiver"
                               maxlength="20" required="required" minlength="10"
                               onblur="return check_Cod_NTN_Receiver()">
                        <span class="focus-input100" data-placeholder="شناسه ملی گیرنده"></span>
                    </div>
                    <small id="hint_NTN_Receiver" class="form-text text-danger"
                           style="display:block;font-size: medium;text-align: right;margin-right: 60px;margin-top: -10px" dir="rtl">

                    </small>
                </td>
                <td>
                    <div class="wrap-input100 alignment-right input-group" dir="rtl" style="margin-right: 100px">
                        <input class="input100" type="number" name="weight" th:field="*{receiverPhone}"
                               id="phone_Receiver"
                               maxlength="12" onblur="check_tel_Receiver()">
                        <span class="focus-input100" data-placeholder="تلفن گیرنده"></span>
                    </div>
                    <small id="hint_tel_Receiver" class="form-text text-danger"
                           style="display:block;font-size: medium;text-align: right;margin-right: 100px" dir="rtl">

                    </small>
                </td>
                <td>
                    <div class="wrap-input100 alignment-right input-group" dir="rtl"
                         style="margin-right: 150px;width: 140px">
                        <input class="input100" type="number" name="weight" th:field="*{receiverPostCode}"
                               id="post_Code_Receiver"
                               maxlength="20" onblur="check_Receiver_Cod_Post()">
                        <span class="focus-input100" data-placeholder="کد پستی گیرنده "></span>
                    </div>
                    <small id="hint_Code_Post_Receiver" class="form-text text-danger"
                           style="display:block;font-size: medium;text-align: right;margin-right: 140px" dir="rtl">

                    </small>
                </td>
            </tr>
            <tr>

                <td>
                    <select id="kind_Auto" th:field="*{carKind}" class="form-control">
                        <option value="">نوع ماشین</option>
                        <option th:each="ValueLookup : ${list_cars}"
                                th:value="${ValueLookup.lookupIdentify.valueLookUP}"
                                th:text="${ValueLookup.desFarsi}">
                        </option>
                    </select>
                </td>
                <td>
                    <!--pelak mashine-->
                    <label for="car_Tag_Auto" th:field="*{carTag}" style="float: right ; margin-right: 60px">پلاک
                        ماشین</label>
                    <div class="input-group" dir="ltr" style="margin-right: 80px">
                        <input th:field="*{firstPart_carTag}" type="number" class="input-group-text" id="car_Tag_Auto"
                               style="width: 60px;text-align: center" min="10" max="99">
                        <label th:field="*{letterPart_carTag}" class="input-group-text"
                               style="width: 20px;text-align: center">ع</label>
                        <input th:field="*{secondPart_carTag}" type="number" class="form-control input-group-text"
                               style="width: 45px;text-align: center" min="100" max="999">
                        <input th:field="*{lastPart_carTag}" type="number" class="form-control input-group-text"
                               style="text-align: center" placeholder="ایران 13" min="10" max="99">
                    </div>
                </td>

                <td>

                </td>
            </tr>
            <tr>
                <td>
                    <!-- Modal -->

                </td>
                <td>

                </td>
                <td>
                    <input class="btn btn-primary btn-lg btn-block" type="submit" value="ثبت بارنامه"  style="margin-top: 20px;margin-right: 100px"></input>
                </td>
                <td>
                    <a href="/home" class="btn btn-secondary font_text" style="margin-top: 20px">بازگشت به صفحه اصلی</a>
                </td>
            </tr>
        </div>
    </table>
</form>


<script typeBar="text/javascript">
    $('#date1').MdPersianDateTimePicker({
        targetTextSelector: '#start_date',
        // targetDateSelector: '#inputDate1-1',
        dateFormat: 'yyyy-MM-dd',
        isGregorian: false,
        enableTimePicker: false,
        disableBeforeToday: true,
        disabledDates: [new Date(), new Date(2018, 9, 11), new Date(2018, 9, 12), new Date(2018, 9, 13),
            new Date(2018, 9, 14)
        ],
        disabledDays: [5, 6]
    });
</script>

<script typeBar="text/javascript">
    $('#date2').MdPersianDateTimePicker({
        targetTextSelector: '#finish_date',
        // targetDateSelector: '#inputDate1-1',
        dateFormat: 'yyyy-MM-dd',
        isGregorian: false,
        enableTimePicker: false,
        disableBeforeToday: true,
        disabledDates: [new Date(), new Date(2018, 9, 11), new Date(2018, 9, 12), new Date(2018, 9, 13),
            new Date(2018, 9, 14)
        ],
        disabledDays: [5, 6]
    });
</script>

<script>
    function myFunction() {
        alert("I am an alert box!");
    }
</script>

<script>
    function showInfoAlert() {
        var x = document.getElementById("myDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
            setTimeout(function () {

            }, 20000);
        }
    }

    function prepareWebPage() {
        debugger;
        var specificElement = document.getElementsByClassName("input100");
        for (var i = 0; i < specificElement.length; i++) {
            var value = specificElement[i].value;
            if (value.trim() != "") {
                // specificElement[i].addClass('has-val');
                specificElement[i].classList.add("has-val")
            } else {
                // specificElement[i].removeClass('has-val');
                specificElement[i].classList.remove("has-val")
            }
        }
    }
</script>

<script>
    function scrollTop() {
        window.scrollTo(0, 0);
    }
</script>

<script>
    $('.input100').each(function () {
        $(this).on('blur', function () {
            if ($(this).val().trim() != "") {
                $(this).addClass('has-val');
            } else {
                $(this).removeClass('has-val');
            }
        })
    })

</script>

</body>
</html>
