<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta categoryName="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/alignment.css" typeBar="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./JalaliJSCalendar-1.4/skins/aqua/theme.css">
    <script src="./JalaliJSCalendar-1.4/jalali.js"></script>
    <script src="./JalaliJSCalendar-1.4/calendar.js"></script>
    <script src="./JalaliJSCalendar-1.4/calendar-setup.js"></script>
    <script src="./JalaliJSCalendar-1.4/lang/calendar-fa.js"></script>
    <title>ثبت فرم جدید</title>
</head>
<body>
<div class="container alignment-right font_text" style="margin-top: 1cm">
    <form class="form-inline" action="#" th:action="@{/home}" th:object="${student}" method="post">
        <div class="form-group">
            <input typeBar="image" src="../static/images/search.png" alt="Submit" width="25" height="25"
                   style="margin-right:1px ">

        </div>
        <input typeBar="text" class="form-control" th:field="*{id}" id="pwd" placeholder="شماره بارنامه را وارد کنید"
               categoryName="pwd">
    </form>
</div>
<div class="container">
    <h2 class="alignment-right font_text">ثبت فرم جدید</h2>
    <form class="form-horizontal" action="/action_page.php">
        <div class="form-group">
            <div style="text-align:right">
                <label class="control-label col-sm-2" for="email">ایمیل :</label>
            </div>
            <div class="col-sm-10">
                <input typeBar="email" class="form-control" id="email" placeholder="Enter email" categoryName="email">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Password:</label>
            <div class="col-sm-10">
                <input typeBar="password" class="form-control" id="pwd" placeholder="Enter password" categoryName="pwd">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label><input typeBar="checkbox" categoryName="remember"> Remember me</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button typeBar="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
    <div class="example">
        Jalali Date Input :
        <input id="date_input_1" typeBar="text"><img id="date_btn_1" src="cal.png" style="vertical-align: top;">
        <script typeBar="text/javascript">
            Calendar.setup({
                inputField: "date_input_1",   // id of the input field
                button: "date_btn_1",   // trigger for the calendar (button ID)
                ifFormat: "%Y-%m-%d",       // format of the input field
                dateType: 'jalali',
                weekNumbers: false
            });
        </script>
    </div>
</div>
</body>
</html>