<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Meta tags & title /-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>ShowPage - An Easy to Use Free Responsive Landing Page</title>
    <meta categoryName="description"
          content="This template is an easy to use app landing page, responsive and pretty easy to customize including some great easing effects, modal window, a sticky header with share buttons & others stuff !"/>
    <meta categoryName="keywords"
          content="Free, template, easy to use, customise, one page, template, simple, minimal, landing page, app page, supview"/>
    <meta categoryName="author" content="Supview - François Martin">
    <meta charset="utf-8">
    <meta categoryName="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/alignment.css}" typeBar="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./JalaliJSCalendar-1.4/skins/aqua/theme.css">

    <!-- Favicon /-->
    <link rel="shortcut icon" href="favicon.png" typeBar="image/x-icon"/> <!-- Favicon /-->

    <meta categoryName="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <!-- Stylesheets /-->
    <link rel="stylesheet" th:href="@{/css/gumby.css}">            <!-- Gumby Framework /-->
    <link rel="stylesheet" th:href="@{/css/style.css}">            <!-- Main stylesheet /-->
    <link rel="stylesheet" th:href="@{/css/animate.css}">            <!-- Animations /-->


    <script src="../static/js/modernizr-2.6.2.min.js"></script>  <!-- Modernizr /-->
</head>
<body background="/images/bg.jpg">

<div id="preloader">
    <div id="loading-animation">&nbsp;</div>
</div>
<!--<div class="container font_text" style="text-align: right;" dir="rtl">-->


<div class="page1">

    <!-- Huge Title centered -->
    <h2 style="text-align: right">ایجاد بارنامه</h2>
    <div class="huge-title centered">

        <div class="logo-phone centered"><img alt="YOURLOGO" src="img/logo-phone.png"></div>
        <!-- This Logo is only displayed on Tablet/iPhone !-->
    </div>

    <div class="go-down twelve columns">

        <a href="#container" class="goto"><img src="img/down.png" alt="MORE"></a>
        <a href="#container" class="goto"><img src="../img/down.png" alt="MORE"></a>

    </div>

</div>


<!-- Modal Window -->

<div class='modal' id='modal'>

    <div class='modal-content modal-anim--three'>

        <iframe src="//player.vimeo.com/video/64291127?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="560"
                height="306" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

    </div>

</div>

<!-- Grab Google CDN's jQuery, fall back to local if offline -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>

<script src="js/main.js" typeBar="text/javascript"></script>
<!-- Main Javascript File -->
<script src="js/classie.js" typeBar="text/javascript"></script>
<!-- Scroll from left & right -->
<script src="js/waypoints.min.js" typeBar="text/javascript"></script>                        <!-- Waypoints -->
<script src="js/jquery.scrollto.js" typeBar="text/javascript"></script>                        <!-- ScrollTo -->
<script src="js/mediaCheck.js" typeBar="text/javascript"></script>                            <!-- MediaCheck -->

</body>
</html>
